*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:aliceblue;
    border-radius: 24px;
    border: 1px solid black;
    padding: 20px 30px;
    gap:10px;
}

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;


}
.game-tile{
    background: gray;
    border: 1px solid black;
    border-radius: 25px;
    margin:1px;
    width: 50px;
    aspect-ratio: 1 / 1;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
button{
    padding: 8px;
    margin: 5%;
    width:100%;
    border-radius: 24px;
    border: 1px solid black;
    background-color: white;
}